@charset "utf-8";
/*  
* @description: 选择银行
* @author: hull  
* @update: hull (2013-08-21 14:15)  
*/
.pay-select{float:left; width:100%; border: 1px solid #eaeaea; margin: 10px 0 20px; padding:10px 0;}
.pay-select ul{clear:both; padding:15px;}
.pay-select em,.pay-select input{display:block; float:left;}
.pay-select ul li{float:left; margin:0 10px 15px 5px; +margin:0 10px 15px 0; _margin:0 10px 15px 5px;}
.bank-select h4{color:#014a8f;}
.bank-select h4 span{font-size:12px; color:#909090; padding-left:15px; font-weight:400;}
.bank-select a{display:block; float:left; width:183px; height:36px; line-height:36px; border:1px solid #ccc;}
.bank-select a:hover,.bank-select a.selected{border:1px solid #f36523;}
a.more-bank{border:none; margin-left:15px; color:#0171b9;}
a:hover.more-bank{border:none;}
.bank-select input{margin:12px 3px 0 0;}
.pay-info{float:left; +float:none; width:100%; background:#eef6df; margin:20px 0 0; border-bottom:2px solid #2a7f3c; padding:10px 0 20px; color:#2e7c3e;}
.pay-info .fl{margin-left:20px;}
.pay-info h1{float:left; line-height:45px;}
.pay-suctext{float:left; line-height:45px; margin:10px 0 0 0; font-size:30px;  font-family:"Microsoft YaHei";}
.success-info{float:left;  width:100%; background:#f8f8f8; border:1px solid #eaeaea; margin-bottom:100px;}
.info-box{margin:20px; background:#fff; border:1px solid #eaeaea; padding:20px;}
.info-box ul li{line-height:32px;}
.info-box ul li span{margin-right:20px;}
.fault-info{height:45px; padding:30px 0;}
.fault-info span{float:left; line-height:45px;}
.pay-info .fr{margin:20px 10px 0 0;}
.pay-remind{margin-top:20px; color:#909090;}
.pay-title{float:left; width:100%; background:#f7f7f7; line-height:40px; margin:0 0 20px;}
.pay-title h4{color:#909090; padding:0 0 0 10px;}
.pay-reicon,.pay-success,.pay-fault{background:url(../images/pay.png) no-repeat;}
.pay-reicon{display:inline-block; background-position:-9px -8px; width:45px; height:45px; margin:-20px 10px 0 0;}
.pay-success{display:inline-block; float:left; background-position:-63px -8px; width:45px; height:45px; margin:10px 10px 0 0;}
.pay-fault{display:inline-block; float:left; background-position:-118px -8px; width:45px; height:45px;  margin:0 10px 0 0;}
.pay-shoper{margin:10px 0 0 0;}
.shoper-name{margin-left:100px;}
.upload-photo{float:left; padding:20px;}
.user-form ul li{float:left; _float:none; width:100%; clear:both; padding:0 0 10px 0;}

/*银行icon*/
.taobao-icon,.bank-icon,.icbc-icon,.jianhang-icon
,.nonghang-icon,.youzhen-icon,.jiaotong-icon,.zhaohang-icon
,.china-icon,.guangda-icon,.zhongxin-icon,.shenfa-icon
,.pufa-icon,.mingsheng-icon,.xinye-icon,.pingan-icon,.guangfa-icon
,.nongshang-icon,.shanghai-icon,.ninbo-icon,.hangzhou-icon
,.beijing-icon,.bjnongshang-icon,.UPOP-icon,.ALIPAY-icon,.kq-icon
{background:url(../images/bank.png) no-repeat;}
.taobao-icon{background-position:0 -5px; width:106px; height:34px;}/* 淘宝支付*/
.bank-icon{background-position:-112px -5px; width:106px; height:34px;}/* 在线支付*/
.icbc-icon{background-position:-1px -45px; width:120px; height:36px;}/* 工行银行*/
.jianhang-icon{background-position:-202px -45px; width:120px; height:36px;}/* 建设银行*/
.nonghang-icon{background-position:-408px -45px; width:120px; height:36px;}/* 农业银行*/
.youzhen-icon{background-position:-1px -92px; width:120px; height:36px;}/* 邮政*/
.jiaotong-icon{background-position:-202px -92px; width:120px; height:36px;}/* 交通银行*/
.zhaohang-icon{background-position:-408px -92px; width:120px; height:36px;}/* 招商银行*/
.china-icon{background-position:-1px -139px; width:120px; height:36px;}/* 中国银行*/
.guangda-icon{background-position:-202px -139px; width:120px; height:36px;}/* 光大银行*/
.zhongxin-icon{background-position:-408px -139px; width:120px; height:36px;}/* 中信银行*/
.shenfa-icon{background-position:-1px -187px; width:120px; height:36px;}/* 深圳发展银行*/
.pufa-icon{background-position:-202px -187px; width:120px; height:36px;}/* 浦发银行*/
.mingsheng-icon{background-position:-408px -187px; width:120px; height:36px;}/* 民生银行*/
.xinye-icon{background-position:-1px -236px; width:120px; height:36px;}/* 兴业银行*/
.pingan-icon{background-position:-202px -236px; width:120px; height:36px;}/* 平安银行*/
.guangfa-icon{background-position:-408px -236px; width:120px; height:36px;}/* 广发银行*/
.nongshang-icon{background-position:-1px -283px; width:120px; height:36px;}/* 农商银行*/
.shanghai-icon{background-position:-202px -283px; width:120px; height:36px;}/* 上海银行*/
.ninbo-icon{background-position:-408px -283px; width:120px; height:36px;}/* 宁波银行*/
.hangzhou-icon{background-position:-1px -331px; width:120px; height:36px;}/* 杭洲银行*/
.beijing-icon{background-position:-202px -331px; width:120px; height:36px;}/* 北京银行*/
.bjnongshang-icon{background-position:-408px -331px; width:120px; height:36px;}/* 北京农商银行*/

/*支付平台*/
.UPOP-icon{background-position:-1px -423px; width:120px; height:36px;}/* 网银在线*/
.ALIPAY-icon{background-position:-202px -423px; width:120px; height:36px;}/* 支付宝*/
.kq-icon{background-position:-408px -423px; width:120px; height:36px;}/* 快钱*/